---
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<main class="about">
			<h2>Hi, I'm nicerhugs</h2>
			<div class="about-wrapper">
				<img src="/assets/bw.jpg" alt="" />
				<div class="mask"></div>
				<blockquote>
					I had been my whole life a bell, and never knew it until at that moment I was lifted and struck.
				</blockquote>
				<cite>- Annie Dillard, <i>Pilgrim at Tinker Creek</i></cite>
				<p>
					Hi, I'm nicerhugs. I'm a multi-potentialite. Which means I like to keep a variety of experiences, do a lot of different things, and learn basically as much as there is to learn. I also spend a lot of time (over) thinking about just about everything. Sometimes I document the things I do, but mostly I document the things I think. That's what this blog is all about.
				</p>
				<p>
					If you're interested in my other endeavors, feel free to check out my other sites. My <a href="http://code.nicerhugs.com">coding portfolio</a> is rarely up to date, but it does exist. My older blogs are available for your scrutiny in <a href="http://comment.nicerhugs.com/archive">the archive</a>. And at some point I'll get some gumption and post <!--<a href="http://craft.nicerhugs.com">-->things I've made<!--</a>-->.
				</p>
				<p>
					Have a question for me? Want to tell me I'm crazy or need to prove me wrong? Just have a hankering for some chatter? I love pen pals and I love reasons to think about new stuff. Give me a good excuse to do some more writing. You can always reach me at <a href="mailto:nicerhugs@gmail.com">nicerhugs@gmail.com</a>.
				</p>

			</div>
		</main>
		<script src="/about.js" charset="utf-8"></script>
	</body>
</html>
