<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NicerHugs</title>
	<link rel="icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Amatica+SC:700|Lato:300,700|Special+Elite" rel="stylesheet">
	<link rel="stylesheet" href="/main.css"/>
	<script type="text/javascript">
	var disqus_developer = 1;
	</script>
</head>
