.archive {
	.archive-link {
		font-size: 2rem;
		font-family: $font-nav;
	}

	li {
		margin-bottom: 1rem;

		ul {
			height: 0;
			overflow: hidden;
			transition: height .2s;
		}

		.open {
			height: auto;
		}
	}
}
