body {
	font-size: 62.5%;
	color: $black;
	font-family: $font-body;
}

a {
	color: $color-highlight;
	text-decoration: none;
}

h2 {
	font-family: $font-site-title;
	font-size: 3.5rem;
	margin: 0;
}

p {
	margin: 1rem 0;
	letter-spacing: .05rem;
	line-height: 1.4rem;
	font-family: $font-body;
	font-size: 1rem;
}

blockquote {
	font-family: $font-nav;
	font-size: 1rem;
	line-height: 2.18rem;

	&::before {
		content: "\"";
		font-size: 2rem;
		color: $color-highlight;
		vertical-align: top;
	}
	&::after {
		content: "\"";
		font-size: 2rem;
		color: $color-highlight;
		vertical-align: top;
	}
}

cite {
	font-size: .8rem;
	position: relative;
	top: -.7rem;
	left: 3rem;
	font-style: normal;
}

main {
	position: relative;
	top: -5rem;
	min-height: 10rem;
	background: $white;
	width: 80%;
	max-width: 48rem;
	margin: 0 auto;
	padding: 1.5rem 2rem;
	box-shadow: 0 0 4rem -1.5rem $black;

	&::after {
		clear: both;
		display: block;
		content: '';
	}
}
