html {
	font-size: 62.5%;
}

body {
	font-size: 2.0rem;
	letter-spacing: .08rem;
	line-height: 1.5em;
	color: $black;
	font-family: $font-body;
}

a {
	color: $color-highlight;
	text-decoration: none;
}

h2 {
	font-family: $font-site-title;
	font-size: 5.6rem;
	line-height: 1.5em;
	margin: 0;
}

p {
	margin: 1.6rem 0;
}

blockquote {
	font-family: $font-nav;
	font-size: 1.6rem;
	line-height: 3.488rem;

	&::before {
		content: "\"";
		font-size: 3.2rem;
		color: $color-highlight;
		vertical-align: top;
	}
	&::after {
		content: "\"";
		font-size: 3.2rem;
		color: $color-highlight;
		vertical-align: top;
	}
}

cite {
	font-size: 1.28rem;
	position: relative;
	top: -1.12rem;
	left: 4.8rem;
	font-style: normal;
}

main {
	position: relative;
	top: -8rem;
	min-height: 16rem;
	background: $white;
	max-width: 80rem;
	margin: 0 auto;
	padding: 3.4rem 5.2rem;
	box-sizing: border-box;
	box-shadow: 0 0 6.4rem -2.4rem $black;

	&::after {
		clear: both;
		display: block;
		content: '';
	}
}

strong {
	font-weight: 700;
}
