nav {
	height: 4rem;
	background: $black;
	font-family: $font-nav;
	color: $white;
	font-size: 1.6rem;
	text-align: center;

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	a {
		color: $white;
		text-decoration: none;
		margin: 1.6rem;
	}
}

.hero {
	padding: 3.2rem;
	box-sizing: border-box;
	background-image:
		linear-gradient(rgba($white, .9), rgba($white, .2)),
		url('assets/poppy2.jpeg');
	min-height: 48rem;
	background-size: cover;

	h1 {
		margin: 1.6rem;
		text-align: center;
		font-family: $font-nav;
		font-size: 1.28rem;
		text-shadow: 0 0 10px $white;
	}

	h2 {
		margin: 0;
		font-family: $font-site-title;
		font-size: 16.5vw;
		text-align: center;
		text-shadow: 0 0 20px $white;

		a {
			color: $black;
			text-decoration: none;
		}
	}

}

@media (min-width: 440px) {
	.hero h2 {
		font-size: 16.5vw
	}
}

@media (min-width: 580px) {
	.hero h2 {
		font-size: 9.6rem;
	}
}

@media (min-width: 440px) {
	.hero h2 {
		font-size: 7.6
	}
}

@media (min-width: 440px) {
	.hero h2 {
		font-size: 7.6
	}
}
