////////////////////////////////////////////////////////////////////////////////
//																COLORS									   			 						//
////////////////////////////////////////////////////////////////////////////////

$black: #24270a;
$white: #fff;
$color-highlight: #A71E3A;


////////////////////////////////////////////////////////////////////////////////
//																FONTS										   			 						//
////////////////////////////////////////////////////////////////////////////////

$font-nav: 'Special Elite', serif;
$font-body: 'Lato', sans-serif;
$font-site-title:	'Amatica SC', serif;
